.progress {
    margin-bottom: 30px;
}

.fileupload {
    background-image: url("/assets/upload-icon.png");
    background-repeat: no-repeat;
    background-size: 100px;
    background-position: center;
    background-color: #ffffff;
    height: 200px;
    width: 100%;
    cursor: pointer;
    /* border: 2px dashed #0f68ff; */
    border-radius: 6px;
    margin-bottom: 25px;
    background-position: center 28px;
}

.ddinfo {
    display: block;
    text-align: center;
    padding-top: 130px;
    color: #a0a1a2;
}

.message {
    text-align: center;
    color: #C2DFFC;
}

.fileUploadWrapper .card-body {
    max-height: 330px;
    overflow: hidden;
    overflow-y: auto;
}